body{
margin: 0;
padding: 0;
background: #262626;
}
.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height:200px;
    border: 15px solid rgb(223, 59, 86);
    border-radius: 50%;
    background: #fff;
}
.clock::before{
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    left: 50%;
    width: 30%;
    height: 5px;
    background: black;
    border-radius: 3px;
    animation: animate 30s linear infinite;
    transform-origin: left;
}
.clock::after{
    content: '';
    position: absolute;
    top: calc(50% - 10px);
    left: 50%;
    width: 40%;
    height: 5px;
    background: black;
    border-radius: 3px;
    animation: animate 5s linear infinite;
    transform-origin: left;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}